/node_modules
/.idea
/public/hot
/public/storage
/storage/*.key
/vendor
/composer.lock
/public/dev
/public/build
/public/mix-manifest.json
/app/Libs/Flat/Entities/*
!/app/Libs/Flat/Entities/Cache
config/modules/services.php
config/modules/private.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
*.code-workspace
/supervisord.pid
.DS_Store
